<?xml version="1.0" encoding="UTF-8"?>
<suite name="Hybrid Selenium Framework Suite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
</suite>
